body {
    background-color: slateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
}

p {
}

img {
}

#ProfilePicture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.links {
    background-color: white;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: slateblue;
    margin: 10px;
}

#Github {
}

#LinkedIn {
}

#Instagram {
}